*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #a9c7e0;
}
/* Navagation */
nav{
    width: 100%;
    height: 100px;
    background-color: rgba(71,73,186,0.804);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#logo{
    width: 120px;
    height: 120px;
}
.input{
    display: flex;
}
input{
    width: 450px;
    height: 40px;
}
#i{
    background-color: rgba(222,204,70);
    color: #fff;
    padding: 10px;
    margin-left: -30px;
}
.cart{
    display: flex;
    padding: 0px 50px;
    width: 30px;
    height: 30px;
}
.cart i{
    padding-left: 10px;
    font-size:x-large;
}
.cart i:hover{
    cursor: pointer;
}

  /* Home */

.home{
    display: grid;
    grid-template-columns: 20% 75%;
    margin: 30px 0;
    justify-content: space-evenly;
}
.categories{
    background-color: aliceblue;
    border: 1px solid wheat;
    padding: 15px;
}
.categories h2{
    color: white;
    background-color: rgba(71,73,186,0.804);
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 20px;
}
.categories li{
    list-style-type: none;
    padding: 8px 0;
    padding-left: 2px;
}
.categories li a{
    text-decoration: none;
    color: black;
}

/* bg image of home */

.bg-image{
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.7)), url("./bg-img-dg.jpg");
    color: #fff;
    background-size: cover ;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.bg-image img{
    width: 50%;
}
.bg-image h2{
    z-index: 2;
    padding-left: 20px;
    text-align: center;
    font-size: 28px;
}
/* Mobile or Smart Phone Section */
#mob-heading{
    margin-top: 60px;
    margin-bottom: 10px;
    padding: 10px 20px;
}
.mobiles{
    display: grid;
    grid-template-columns: 14% 14% 14% 14% 14% 14%;
    justify-content: space-around;
}
.mobiles div{
    display: grid;
    justify-items: center;
    border-radius: 5px;
    background-color: #efefef;
    border: 1px solid gainsboro;
    text-align: center;
    margin: 10px 0;
}
.mobiles div img{
    width: 67%;
    border-radius: 5px;
    margin: 10px ;
    background-color: transparent;
}
.mobiles span p{
    padding: 3px;
    font-size: small;
}
.mobiles span p:first-child{
    font-weight: bold;
}
.mobiles:hover{

}

 /* small size (1000-width) */
@media(max-width:1000px) {
    nav{
        height: 80px;
    }
    #logo{
        width: 100px;
        height: 100px;
    }
    input{
        width: 250px;
        height: 30px;
    }
    #i{
        padding: 7px;
        margin-left: -20px;
    }
    .cart{
        padding: 0px 20px;
        width: 20px;
        height: 20px;
    }
    .cart i{
        padding-left: 7px;
        font-size: medium;
    }

    /* bg img for home */

    .bg-image h2{
        font-size: 22px;
     }
     /* .bg-image img{width: 45%;} */

      /* Mobile or Smart Phone Section */
    
      #mob-heading{
        margin-top: 80px;
        margin-bottom: 10px;
        padding: 10px 20px;
    }
    .mobiles{
        grid-template-columns: 30% 30% 30%;
        justify-content: space-around;
    }
    .mobiles div{
        margin: 10px;
        border: 1px solid #efefef;
    }
    .mobiles div img{
        height: 90%;
        width: 90%;
    }
    .mobiles span p{
        font-size: medium;
    }

} 

/* for mobile screen */

@media(max-width:400px){
    /*Navagation  */
        nav{
            height: 60px;
            width: 100%;
        }
        #logo{
            width: 80px;
            height: 90px;
        }
        input{
            width: 170px;
            height: 25px;
            margin-top: 3px;
        }
        #i{
            background-color: transparent;
            color: black;
            padding-top: 7px;
            margin-left: -28px;
        }
        .cart{
            padding: 0px 15px;
            margin-right: 10px;
            width: 15px;
            height: 15px;
        }
        .cart i{
            padding-left: 5px;
            font-size:large;
        }

        /* Home */

        .home{
            margin: 20px 0;
        }
        .categories{
            padding: 5px;
            height: 79px;
        }
        .categories h2{
            font-size: 7px;
            padding: 2px;
            margin-top: 2px;
            margin-bottom: 8px;
        }
        .categories li{
            padding: 2px 0;
            margin-left: 2px;
            font-size: 7px;
        }

    /* bg img for home */

        .bg-image{
            background-image: linear-gradient( rgba(0,0,0,), rgba(0,0,0,)), url(./bg-img-dg.jpg);
            background-size: cover;

        }
        .bg-image h2{
            font-size: 10px;
        }
         /* .bg-image img{} */
        
         /* Mobile or Smart Phone Section */
    
      #mob-heading{
        margin-top: 30px;
        margin-bottom: 10px;
        font-size: 3.5vh;
        padding: 0px 20px;
    }
    .mobiles{
        grid-template-columns: 50% 50%;
        justify-content: space-around;
    }
    .mobiles div{
        width: 90%;
        height: auto;
    }
    .mobiles div img{
        width: 75%;
        height: 75%;
        margin-top: 20px;
    }
}